h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}
h2 {
    font-size: 48px;
    font-weight: 700;
}
h3 {
    font-size: 20px;
    font-weight: 700;
}
h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
}
p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}
.text2 {
    //p2
    font-size: 25px;
    line-height: 1.5;
}
.text3 {
    //p3
    font-size: 17px;
    line-height: 1.5;
}
.text4 {
    //p4
    font-size: 12px;
}
.text5 {
    //p4
    font-size: 15px;
}
