.services-page .navigation .navbar {
    position: unset;
    .hamburger .line{
        background: $color-green;
    }
    .links-items .links .items {
       color: $color-dark-brown;
       font-weight: 600;
   }
 }
 
 .services-page .navigation .navbar.sticky {
    position : fixed;
    .links-items .links .items {
       color: #000;
   }
 }
 .services-info{
 
       img{
           display: block;
           width: 100%;
           @include media(md) {
            height: 450px;
         }
           @include media(sm) {
            height: auto;
         }
       }
   
   
       h1{
           color: $color-green;
        
       }
       .text5{
           color: $color-light-black;
           padding: 15px 0 10px 0;
          
       }
   }

.services-info{
   .wrapper{
       padding-top: 60px;
       .infoos{
           h2{
               text-align: center;
               color: $color-dark-brown;
               @include media(sm) {
                font-size: 35px;
            }

           }
           .hr-theme-slash-2 {
            display: flex;
            text-align: center;
            
            .hr-line {
              position: relative;
              width: 6%;
              margin: 15px;
              left: 494px;
              border-bottom: 4px solid $color-green;
            }
            .hr-icon {
              position: relative;
              top: 3px;
              color: $color-light-grey;
              left: 497px;
            }
          }
           .text5{
               color: $color-light-black;
               padding: 10px 0;
           }
       }
       .services-type{
           
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        
        @include media(sm) {
           flex-direction: column; 
          
            
        }
        .services-images{
            width: 50%;
            padding-right: 35px; 
            @include media(sm) {
                width: 100%;
                padding-right: 0; 
                padding-bottom: 20px;   
             }
        }   
        .services-texts{
            width: 50%;
            padding-left: 35px;
            @include media(sm) {
                width: 100%;
                padding-left: 0;
                padding-bottom: 20px; 
             }
        }    
       }
       .services-type-1{
           
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        @include media(sm) {
            flex-direction: column-reverse; 
           
             
         }
        .services-images-1{
            width: 50%;
            padding-left: 35px;
            @include media(sm) {
                width: 100%;
                padding-left: 0;
                padding-bottom: 20px; 
             } 
            
        }   
        .services-texts-1{
            width: 50%;
            padding-right: 35px;
            @include media(sm) {
                width: 100%;
                padding-right: 0; 
                padding-bottom: 20px;   
             }
        }  
           
       }
       .services-type-2{
           
        display: flex;
        padding-top: 30px;
        @include media(sm) {
            flex-direction: column; 
           
             
         }
        .services-images-2{
            width: 50%;
            padding-right: 35px;
            @include media(sm) {
                width: 100%;
                padding-right: 0; 
                padding-bottom: 20px;   
             }
        }   
        .services-texts-2{
            width: 50%;
            padding-left: 35px;
            @include media(sm) {
                width: 100%;
                padding-left: 0;
                padding-bottom: 20px; 
             } 
        }  
           
       }
       .services-type-3{
           
        display: flex;
        padding-top: 30px;
        @include media(sm) {
            flex-direction: column-reverse; 
           
             
         }
        .services-images-3{
            width: 50%;
            padding-left: 35px;
            @include media(sm) {
                width: 100%;
                padding-left: 0;
                padding-bottom: 20px; 
             } 
        }   
        .services-texts-3{
            width: 50%;
            padding-right: 35px;
            @include media(sm) {
                width: 100%;
                padding-right: 0; 
                padding-bottom: 20px;   
             }
        }  
           
       }
       .services-type-4{
           
        display: flex;
        padding-top: 30px;
        @include media(sm) {
            flex-direction: column; 
           
             
         }
        .services-images-4{
            width: 50%;
            padding-right: 35px;
            @include media(sm) {
                width: 100%;
                padding-right: 0; 
                padding-bottom: 20px;   
             } 
        }   
        .services-texts-4{
            width: 50%;
            padding-left: 35px;
            @include media(sm) {
                width: 100%;
                padding-left: 0;
                padding-bottom: 20px; 
             } 
        }  
           
       }
   }
}
.responsive{
    .wrapper{
        padding: 0px 0 40px 0px;
        .response-design{
            @include media(sm) {
                padding: 0 10px;
             } 
            h1{
                color: $color-green;
                
            }
            .text5{
                color: $color-light-black;
                
            }
        }
    }
}