$color-white: #fff;
$color-green: #5cbb47;
$color-light-green: #6ddd54;
$color-dark-grey: #141414;
$color-dark-brown: #707070;
$color-light-white: #f7f7f7;
$color-light-black: #5e5e5e;
$color-light-bg-white: #e2e2e2;
$color-yellow: #ffff00;
$color-light-grey: #777;
$color-grey: #00000085;
$color-light-blue: #ebf5ff;